template(name="home")
    h3 Home
    .content#tagline
        p I'm a radical dame who likes to play games!
    .content#intro
        p I became an independent developer in 2009, coding static websites for individuals and entrepreneurs.
        p There have been a ton of bumps along the way, but I have since dedicated myself to working almost exclusively with Meteor and related technologies.
