@import "packages/bourbon/bourbon";
@import "packages/neat/neat";
@import "bitters/bitters";
@import "variables";
@import "mixins";

// Font Variables
$signika: 'Signika', sans-serif;

// Color Variables
$blue: #80CCC6;
$pink: #FF6850;

// Global
::selection {
    background: $pink;
    color: white;
}

body {
    color: $pink;
    font-family: $signika;
    font-size: 150%;
    h1, h2, h3, h4, h5, h6 {
        font-family: $signika;
    }
    a {
        color: $blue;
    }
}

.container {
    @include outer-container;
    header {
        @include span-columns(3);
    }
    .main {
        @include span-columns(9);
    }
}

// Navigation
nav {
    margin-bottom: 50px;
    ul {
        li {
            display: inline-block;
            margin-right: 30px;
        }
    }
}
