@import "packages/bourbon/bourbon";
@import "packages/neat/neat";
@import "bitters/bitters";
@import "variables";
@import "mixins";

// Font Variables
$signika: 'Signika', sans-serif;

// Color Variables
$blue: #80CCC6;
$green: #2F845A;
$greenblack: #353D34;
$greengray: #3B483E;
$pink: #FF6850;
$darkpink: #F3443B;

// Global
::selection {
    background: $pink;
    color: white;
}

body {
    color: $pink;
    font-family: $signika;
    font-size: 150%;
    h1, h2, h3, h4, h5, h6 {
        font-family: $signika;
    }
    p, ul {
        color: $greengray;
    }
    a {
        color: $blue;
    }
}

.container {
    @include outer-container;
    header {
        @include span-columns(3);
    }
    .main {
        @include span-columns(9);
    }
}

// Header
header {
    h1 {
        text-align: center;
    }
    ul {
        text-align: center;
    }
}

// Navigation
nav {
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
    ul {
        li {
            display: inline-block;
            margin-right: 50px;
        }
    }
}

// Main
// #tools ul {
//     color: $greengray;
// }
