@import "../packages/zf5/scss/normalize";
@import "../packages/zf5/scss/foundation";

// Color Variables
$black: #382529;
$lightblack: #463337;
$brown: #866269;
$white: #F1DFD5;
$red: #C7143A;

// Font Variables
$source: 'Source Sans Pro', sans-serif;
$josefin:'Josefin Sans', sans-serif;

// Global
body {
   background-color: $lightblack;
   color: $white;
   font-family: $source;
   h1, h2, h3, h4, h5, h6 {
      color: $brown;
      font-family: $josefin;
      font-weight: 400;
   }
   p {
      font-size: 150%;
      font-weight: 300;
   }
   ul {
      font-size: 150%;
   }
   a {
      color: $red;
   }
}

// Header
header {
   h1 {
      font-weight: 700;
      font-size: 96px;
   }
}
// Main
section {
   h2 {
      margin-top: 60px;
      text-transform: uppercase;
   }
}

//Projects
.projects
   .panel {
      background-color: $black;
      border: none;
      h3, h4 {
         font-family: $source;
      }
      h4 {
        color: $white;
        font-style: italic;
        font-weight: 300;
      }
      p {
         color: $white;
         font-size: 18px;
      }
}

// Footer
