template(name="about")
    .content#about
        h3 About Me
        p I started coding in earnest in 2009 with nothing but a borrowed laptop and high hopes.  My first real programming language was Python, and it's formed the basis of how I view programming languages since.  I was lacking front-end skills, so I switched over to HTML5 and CSS3.  I languished in WordPress land for a while before deciding to learn Ruby on Rails, and I loved the community.  Then I found out about Meteor and discovered a strong community that wanted to leverage front-end technologies for the full stack.

        p Meteor was exactly what I was looking for.  A framework taking advantage of low-barrier open source technologies capable of being used for web apps, mobile apps, and games.  I was hooked!

        p So here I am.  I have decided to work almost exclusively in Meteor from now on &mdash; including converting old/dead projects from Ruby/Rails to Meteor.

        p I'll be writing more about my journey and experiences in my blog, including tutorials and project updates.  I welcome you to follow me on Twitter @ciaraburkett!

    .content#tools
        h4 Favorite Dev Tools
        ul
            li Meteor
            li MongoDB
            li CoffeeScript
            li SCSS
            li Bourbon with Neat, Bitters, and Refills
            li Jade
