template(name="header")
    header
        #logo
            img(src="/img/profilepic.jpg")
        h1 Ciara Burkett
        ul
            li Junior Meteor Developer
            li &amp;
            li Artist
        #regal
