template(name="header")
    header
        #logo
            img(src="/img/profilepic.jpg")
        h1 Ciara Burkett
        ul
            li Solopreneur
            li Developer
            li Designer
            li Artist
        #regal
