head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Ciara Burkett
    link(href='/img/favicon.ico', rel='icon', type='image/x-icon')
    <link href='http://fonts.googleapis.com/css?family=Signika:400,300,600,700' rel='stylesheet' type='text/css'>

body
    +layout

template(name="layout")
    .container
        +header
        .main
            +nav
            +yield
        // +footer


