template(name="nav")
    nav
        ul
            li: a(href='/') Home
            li: a(href='/about') About
            li: a(href='/projects') Projects
            li: a(href='http://www.ciaraburkett.tumblr.com', target="_blank") Blog
